/*general*/

    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Open Sans', sans-serif;
    }

    ul {
        list-style-type: none;
    }

    .margin-left-25 {
        margin-left: 25px;
    }

    .margin-10-0 {
        margin: 10px 0;
    }

    .margin-left-25 {
        margin-left: 25px;
    }

    .padding-top-6 {
        padding-top: 6px;
    }

    .padding-top-160 {
        padding-top: 160px;
    }

    .padding-25-0-15-0 {
        padding: 25px 0 15px 0;
    }

    .padding-35-0 {
        padding: 35px 0;
    }

    .background-azure {
        background-color: rgb(180, 208, 231);
    }

    .section {
        width: 55%;
        margin: 0 auto;
    }

    .font-size-45 {
        font-size: 45px;
    }

    .width-100 {
        width: 100%;
    }

    .column-30 {
        width: 30%;
    }

    .text-align-center {
        text-align: center;
    }

    /*i*/

        .font-size-50 {
            font-size: 50px;
        }

        .margin-75-0-15-0 {
            margin: 75px 0 15px 0;
        }

        .font-size-22 {
            font-size: 22px;
        }

        .color-gray {
            color: rgb(122, 136, 150);
        }

        .color-blue {
            color: rgb(0, 97, 255);
        }

    /*i*/

    /*button*/

        button {
            all: unset;
            cursor: pointer;
            font-size: 16px;
        }

        .padding-4-14 {
            padding: 4px 14px;
        }

        .padding-10-15 {
            padding: 10px 15px;
        }

        .padding-10-0 {
            padding: 10px 0;
        }

        .margin-30-0 {
            margin: 30px 0;
        }

        .blue-button {
            background-color: rgb(0, 97, 255);
            border-color: rgb(0, 97, 255);
            color: white;
        }

    /*button-end*/

    /*flexbox*/

        .flex {
            display: flex;
        }

    /*flexbox-end*/

/*general-end*/

/*header*/

    header {
        position: fixed;
        top: 0;
        left: 0;
        height: 80px;
        width: 100vw;
        align-items: center;
        background-color: white;
        z-index: 1;
    }

    .header-container {
        width: 98%;
        margin: 0 auto;
    }

    .header-row {
        width: 100%;
    }

    .header-column {
        width: 50%;
    }

    .column-right {
        justify-content: flex-end;
    }

    .logo {
        padding-top: 3px;
    }

/*header-end*/

/*main*/

    /*jumbotron*/

    h1 {
        font-size: 85px;
        padding-bottom: 40px;
    }

    .jumbotron {
        width: 100%;
    }

    .jumbotron-container {
        width: 63%;
        margin: 0 auto;
    }

    .jumbotron-row {
        width: 100%
    }

    .column-70 {
        width: 70%;
    }

    .jumbotron-content {
        width: 100%;
    }

    .jumbo-img {
        width: 45%;
        position: absolute;
        
    }

    /*jumbotron-end*/

    /*section*/

    label {
        padding: 0 50px 0 5px;
    }

    .radio-area {
        padding: 55px 0px;
    }

    .radio {
        display: inline-block;
        width: 23px;
        height: 23px;
        border: 2px solid rgb(189, 189, 189);
        border-radius: 12px;
    }

    .radio:focus {
        border: 6px solid rgb(0, 97, 255);
    }

    .justify-content-center {
        justify-content: center;
    }

    /*card*/

        .card {
            border: 1px solid rgb(189, 189, 189);
        }

        .card-content {
            width: 80%;
            margin: 0 auto;
        }

        .card-row {
            line-height: 1.6;
        }